<link rel="import" href="/components/polymer/polymer.html">

<dom-module id="senai-map">
	<style type="text/css">
		:host {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			-webkit-transition: all 0.56s ease;
			-moz-transition: all 0.56s ease;
			transition: all 0.56s ease;
		}
		:host[name="entrada"][state="overview"] {
			transform: scale(0.5) translate(-200px, 250px);
		}
		:host[name="terreo"][state="overview"] {
			transform: scale(0.3) translate(200px, -600px);
		}
		:host[name="andar"][state="overview"] {
			transform: scale(0.3) translate(1600px, -600px);
		}
		:host[state="open"] {
			transform: scale(1) translate(0, 0);
		}
		:host[state="hided"] {
			transform: translate(0, 1000px);
		}
		canvas {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			/* transform: translateY(2000px); */
			-webkit-transition: all 0.56s ease;
			-moz-transition: all 0.56s ease;
			transition: all 0.56s ease;
		}
		.open {
			transform: translateY(0);
		}
		.dev {
			transform: scale(0.4);
		}
		.up {
			transform: translateY(-2000px);
		}
		.down {
			transform: translateY(2000px);
		}
		.lalala {
			transform: scale(0.4) translateX(-800px);
		}
		.asdas {
			transform: scale(0.4) translateX(800px);
		}
	</style>
	<template>
		<canvas class$="{{computeState(state)}}" width="1200" height="600"></canvas>
	</template>
	<script type="text/javascript">
		Polymer({
			is: 'senai-map',
			properties: {
				name: {
					type: String,
					notify: true
				},
				state: {
					type: String,
					notify: true
				}
			},
			computeState: function (state) {
				return '' + state;
			},
			ready: function () {
				//console.log(this.state);
			},
			attributeChanged: function (name, state) {
				//console.log('state changed!');
			}
		});
	</script>
</dom-module>