<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/iron-ajax/iron-ajax.html">

<dom-module id="senai-modal">
	<style type="text/css">
		.modal {
			position: absolute;
			top: 150px;
			left: 450px;
			display: flex;
			flex-flow: column nowrap;
			width: 450px;
			height: 400px;
			color: #000;
			background-color: #fff;
			-webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
		    -moz-box-shadow:    2px 2px 15px 1px rgba(0, 0, 0, 0.2);
		    box-shadow:         2px 2px 15px 1px rgba(0, 0, 0, 0.2);
			-webkit-transition: all 0.26s linear;
			-moz-transition: all 0.26s linear;
			transition: all 0.26s linear;
			z-index: 2000;
		}

		.modal .wrapper {
			width: 425px;
			height: auto;
			margin: 0 auto 0 auto;
		}

		.modal .top {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 0 10px;
		}

		.modal .title {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin: 5px 0 5px 0;
			font: 300 28px 'Roboto', sans-serif;
		}

		.modal .title:after {
			position: absolute;
			content: '';
			top: 42px;
			left: 0;
			border: 0;
			width: 100%;
			height: 1px;
		    background-color: rgba(0, 0, 0, 0.2);
		}

		.modal .title > .room {
			margin: 0 10px 0 0;
		}

		.modal .title > .title {
			margin: 0 0 0 10px;
		}

		.modal .description {
			display: block;
			width: 100%;
			height: auto;
			margin: 15px 0 0 0;
			font: 300 15px 'Roboto', sans-serif;
			word-wrap: break-word;
		}

		.modal .close {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: 42px;
			cursor: pointer;
		}

		.modal .close:after {
			margin: 0;
			padding: 0;
			content: '×';
			font: 400 30px 'Roboto', sans-serif;
		}
	</style>
	<template>
		<iron-ajax auto
			url="{{getNetworkInfo()}}"
			handle-as="json"
			on-response="handleResponse"
			last-response="{{data}}"
			method="GET">
		</iron-ajax>
		<div class$="{{computeState(state)}}">
            <div class="top">
                <div class="title">
                	<span class="room">{{room}}</span>
                	<span> - </span>
                	<span class="title">{{title}}</span>
                </div>
                <span class="close"></span>
            </div>
            <div class="wrapper">
                <span class="description">{{description}}</span>
            </div>
        </div>
	</template>
	<script type="text/javascript">
		Polymer({
			is: 'senai-modal',
			properties: {
				state: {
					type: String,
					notify: true
				},
				room: {
					type: String,
					notify: true
				},
				title: String,
				description: String
			},
			getNetworkInfo: function () {
				return window.location.origin + '/rooms.json';
			},
			handleResponse: function (req) {
				//console.log(this);
				var room = this.room;
				this.data.forEach(function (el, ind, arr) {
					//console.log(el);
					if (el.sala == room) {
						this.title = el.titulo;
						this.description = el.descricao;
					};
				}, this);
			},
			computeState: function (state) {
				return 'modal ' + state;
			},
			ready: function () {
				//console.log(this);
			},
			attributeChanged: function (room, state) {
				var ajax = this.querySelector('iron-ajax');
				ajax.generateRequest();
			}
		});
	</script>
</dom-module>