<link rel="import" href="/components/polymer/polymer.html">

<dom-module id="senai-updown">
	<style type="text/css">
		.updown {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			margin: 0 0 0 50px;
			padding: 10px 10px 10px 10px;
			width: 100px;
			height: 100px;
			cursor: pointer;
			z-index: 1000;
		}

		.updown:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		.updown i {
			font-size: 35px;
		}

		.updown span {
			margin: 15px 0 0 0;
			font: 300 20px 'Roboto', sans-serif;
			text-align: center;
		}
	</style>
	<template>
	    <div class="updown">
	    	<!-- <i class="fa fa-hand-o-up"></i> -->
            <i class$="{{computeState(state, 1)}}"></i>
            <!-- <i class="fa fa-arrow-up"></i> -->
            <!-- <i class="fa fa-chevron-up"></i> -->
            <!-- <i class="fa fa-long-arrow-up"></i> -->
            <span>{{computeState(state)}}</span>
        </div>
	</template>
	<script type="text/javascript">
		Polymer({
			is: 'senai-updown',
			properties: {
				state: {
					type: String,
					notify: true
				}
			},
			computeState: function (state, icon) {
				if (icon) {
					if (state == 'up') {
						return 'fa fa-level-up';
					} else if (state == 'down') {
						return 'fa fa-level-down';
					}
				} else {
					if (state == 'up') {
						return 'Subir de Andar';
					} else if (state == 'down') {
						return 'Descer de Andar';
					}
				}
			},
			ready: function () {
				//console.log(this.state);
			},
			attributeChanged: function (state) {
				//console.log('state changed!');
			}
		});
	</script>
</dom-module>