/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900); */

body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, #29B6F6, #81D4FA 45%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 170px;
}

header .logo {
	display: block;
	width: 300px;
	height: auto;
	margin: 0 0 0 50px;
	z-index: 3500;
}

senai-search {
	z-index: 3500;
}

senai-menu {
	z-index: 3500;
}

senai-billboard {
	z-index: 3500;
}

senai-maps {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
}

senai-map {
	position: absolute;
	z-index: 500;
}

senai-updown {
	z-index: 1000;
}

senai-overview {
	z-index: 1000;
}

senai-room {
	display: none;
}

footer {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	bottom: 0;
	left: 0;
}
