body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
}

header .logo {
	display: block;
	width: 300px;
	height: auto;
}

canvas {
	display: block;
	width: 100%;
	height: auto;
}

.focused {
	transform: translateY(0);
}

senai-modal  /deep/ .modal {
	transform: translateY(-1000px) scale(0.5);
	-webkit-transition: all 0.26s linear;
	-moz-transition: all 0.26s linear;
	transition: all 0.26s linear;
}

senai-modal[state=open] /deep/ .modal {
	transform: translateY(0) scale(1);
}

/*
.modal {
	position: absolute;
	top: 150px;
	left: 450px;
	display: flex;
	flex-flow: column nowrap;
	width: 450px;
	height: 400px;
	color: #000;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 15px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-1000px) scale(0.5);
	-webkit-transition: all 0.26s linear;
	-moz-transition: all 0.26s linear;
	transition: all 0.26s linear;
}

.open {
	transform: translateY(0) scale(1);
}

.modal .wrapper {
	width: 425px;
	height: auto;
	margin: 0 auto 0 auto;
}

.modal .top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.modal .title {
	display: block;
	margin: 5px 0 5px 0;
	font: 300 28px 'Roboto', sans-serif;
}

.modal .title:after {
	position: absolute;
	content: '';
	top: 42px;
	left: 0;
	border: 0;
	width: 100%;
	height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .description {
	display: block;
	width: 100%;
	height: auto;
	margin: 15px 0 0 0;
	font: 300 15px 'Roboto', sans-serif;
	word-wrap: break-word;
}

.modal .close:after {
	position: absolute;
	top: 5px;
	right: 15px;
	content: '×';
	font: 300 25px 'Roboto', sans-serif;
	cursor: pointer;
} */

.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 50px 0 50px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.main .new {
	display: flex;
	flex-flow: column nowrap;
	width: 450px;
	height: 500px;
	background-color: transparent;
}

.main .new .container {
	width: 425px;
	height: auto;
	margin: 0 auto 0 auto;
}

.main .new .top .title {
	margin: 5px 0 5px 0;
	font: 300 30px 'Roboto', sans-serif;
}

.main .new .container > .room {
	display: block;
	width: 300px;
	height: 25px;
	margin: 55px 0 0 0;
	padding: 5px 10px 5px 10px;
	font: 300 22px 'Roboto', sans-serif;
	background-color: #fff;
	border: none;
	outline: none;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.main .new .container > .title {
	display: block;
	width: 300px;
	height: 25px;
	margin: 15px 0 0 0;
	padding: 5px 10px 5px 10px;
	font: 300 22px 'Roboto', sans-serif;
	background-color: #fff;
	border: none;
	outline: none;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.main .new .container > .description {
	display: block;
	width: 300px;
	height: 100px;
	margin: 15px 0 0 0;
	padding: 5px 10px 5px 10px;
	font: 300 18px 'Roboto', sans-serif;
	background-color: #fff;
	border: none;
	outline: none;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.main .new .save {
	display: block;
	width: auto;
	height: auto;
	margin: 35px 0 0 0;
	padding: 10px 10px 10px 10px;
	border: none;
	outline: none;
	color: #fff;
	background-color: #40ACFF;
	border: 2px solid transparent;
	border-radius: 2px;
	font: 300 18px 'Roboto', sans-serif;
}
